/*Inicio Sesión*/
body {
  margin: 0;
  padding: 0;
  background: url(../img/fondo.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #fff;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  opacity: 0.8;
  box-shadow: 0px 0px 3px #dc3545;
}

.login-box .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 10%;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    padding: 15px;
  }
  .login-box .avatar img {
    width: 150%;
  } 

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom:1px solid #dc3545;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

/*Crear Usuario*/
.create-box {
  width: 320px;
  height: 420px;
  background: #fff;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  opacity: 0.8;
  box-shadow: 0px 0px 3px #dc3545;
}

.create-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.create-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.create-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.create-box input {
  width: 100%;
  margin-bottom: 20px;
}

.create-box input[type="text"], .login-box input[type="text"], input[type="password"] {
  border: none;
  border-bottom:1px solid #dc3545;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.create-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.create-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.create-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.create-box a:hover {
  color: #fff;
}

/* Listados*/


#main-container{
  margin: 150px auto;
  width: 600px;
}

table{
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th, td{
  padding: 20px;
}

thead{
  background-color: #dc3545;
  border-bottom: solid 5px #dc3545;
  color: white;
}

tr:nth-child(even){
  background-color: #ddd;
}

tr:hover td{
  background-color: #369681;
  color: white;
}

h4{
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  text-shadow: 0.1em 0.1em #333;
}
